{
	admin off
}

{$BROKER_HOST} {
	tls internal

	handle /trust {
		root * /data/caddy/pki/authorities/local
		rewrite * /root.crt
		header Content-Type application/x-x509-ca-cert
		header Content-Disposition `attachment; filename="docu-kiosk-ca.crt"`
		file_server
	}

	reverse_proxy app:8080
}
